body {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

header h1 {
    font-size: 40px;
}

table {
    width: 100%;
    font-size: 25px;
}

th,
td {
    border: 1px black solid;
    padding: 5px;
}

/* Cor de fundo para linhas pares */
tr:nth-child(even) {
    background-color: white;
}

/* Para linhas ímpares (opcional) */
tr:nth-child(odd) {
    background-color: #e0e0e0;
}